<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="3.1">

<servlet>
<servlet-name>RegisterServlet</servlet-name>
<servlet-class>com.service.RegisterServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RegisterServlet</servlet-name>
<url-pattern>/RegisterServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>com.service.LoginServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>DashboardServlet</servlet-name>
<servlet-class>com.service.DashboardServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DashboardServlet</servlet-name>
<url-pattern>/DashboardServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>VehicleServlet</servlet-name>
<servlet-class>com.service.VehicleServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>VehicleServlet</servlet-name>
<url-pattern>/VehicleServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>BookingServlet</servlet-name>
<servlet-class>com.service.BookingServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>BookingServlet</servlet-name>
<url-pattern>/BookingServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>LogoutServlet</servlet-name>
<servlet-class>com.service.LogoutServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LogoutServlet</servlet-name>
<url-pattern>/LogoutServlet</url-pattern>
</servlet-mapping>

</web-app>